.form-gap {
    padding-top: 70px;
}
.ForgotpasswordBody{
    height: 92.4vh;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../Image/img.png);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.panel{
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.ForgotpasswordContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rowForgotpassword {
    margin-right: -15px;
    margin-left: -15px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%); */
}

.panel-body {
    padding: 15px;
}

.formForgotpassword {
    display: block;
    margin-top: 0em;
}

.form-group {
    margin-bottom: 15px;
}

.input-group-addon{
    position: relative;
    display: table;
    border-collapse: separate;


    border-right: 0;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;

    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-blockForgotPassword {
    width: 100%;

    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}